In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('data/food52_scraped_data.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9721 entries, 0 to 9720
Data columns (total 5 columns):
_id        9721 non-null object
rating     9721 non-null int64
recipe     9233 non-null object
title      9721 non-null object
weblink    9721 non-null object
dtypes: int64(1), object(4)
memory usage: 379.8+ KB

In [4]:
df_ratings = df[['title', 'rating']]

In [16]:
(df_ratings['rating'] == 0).value_counts()

False    9064
True      657
Name: rating, dtype: int64

In [21]:
df['rating'].describe()

count     9721.000000
mean       168.015636
std        426.092627
min          0.000000
25%          5.000000
50%         38.000000
75%        140.000000
max      12117.000000
Name: rating, dtype: float64

In [5]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9721 entries, 0 to 9720
Data columns (total 2 columns):
title     9721 non-null object
rating    9721 non-null int64
dtypes: int64(1), object(1)
memory usage: 152.0+ KB

In [6]:
def rating_count(col):
    return np.ones(col)

In [7]:
dummies = df_ratings['rating'].apply(rating_count)

In [8]:
dummies.head()

0    [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...
1    [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...
2                                           [1.0, 1.0]
3    [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...
4                                      [1.0, 1.0, 1.0]
Name: rating, dtype: object

In [9]:
df2 = pd.DataFrame(dummies)

In [10]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9721 entries, 0 to 9720
Data columns (total 1 columns):
rating    9721 non-null object
dtypes: object(1)
memory usage: 76.0+ KB

In [11]:
df2 = pd.DataFrame(df2['rating'].values.tolist())

In [12]:
df2.head()

,0,1,2,3,4,5,6,7,8,9,...,12107,12108,12109,12110,12111,12112,12113,12114,12115,12116
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
new_df = pd.concat([df_ratings,df2], axis=1)

In [14]:
new_df.head()

,title,rating,0,1,2,3,4,5,6,7,...,12107,12108,12109,12110,12111,12112,12113,12114,12115,12116
0,Austin Diner-Style Queso,14,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Mamba (Spicy Haitian Peanut Butter),29,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sheet Pan Muffins,2,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Anna Jones' Favorite Lentils with Roasted Toma...,92,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Seedlip's A Good Dill,3,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
new_df2 = new_df.fillna(0)

In [42]:
new_df2.head()

,title,rating,0,1,2,3,4,5,6,7,...,12107,12108,12109,12110,12111,12112,12113,12114,12115,12116
0,Austin Diner-Style Queso,14,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Mamba (Spicy Haitian Peanut Butter),29,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Sheet Pan Muffins,2,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Anna Jones' Favorite Lentils with Roasted Toma...,92,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Seedlip's A Good Dill,3,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [43]:
del new_df2['rating']

In [44]:
new_df2.head()

,title,0,1,2,3,4,5,6,7,8,...,12107,12108,12109,12110,12111,12112,12113,12114,12115,12116
0,Austin Diner-Style Queso,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Mamba (Spicy Haitian Peanut Butter),1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Sheet Pan Muffins,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Anna Jones' Favorite Lentils with Roasted Toma...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Seedlip's A Good Dill,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0